{% extends 'rusardhome/base.html' %}
{% block content %}
<div class="container py-5">
  <h2>Inscription</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Créer mon compte</button>
  </form>
  <hr>
  <p>Ou inscrivez-vous avec :</p>
  <a class="btn btn-outline-danger" href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
  <a class="btn btn-outline-primary" href="{% url 'social:begin' 'facebook' %}">Facebook</a>
  <a class="btn btn-outline-info" href="{% url 'social:begin' 'twitch' %}">Twitch</a>
</div>
{% endblock %}
