{% extends 'rusardhome/base.html' %}
{% load static %}

{% block title %}À propos - Rusard{% endblock %}
{% block meta_description %}Page à propos de Rusard et de ses réalisations.{% endblock %}
{% block og_title %}À propos - Rusard{% endblock %}
{% block og_description %}Page à propos de Rusard et de ses réalisations.{% endblock %}
{% block twitter_title %}À propos - Rusard{% endblock %}
{% block twitter_description %}Page à propos de Rusard et de ses réalisations.{% endblock %}

{% block content %}
<div class="container bg-light text-center">
    <img class="img-fluid" src="{% static 'rusardhome/media/pageenconstruction.png' %}" alt="">
</div>
 

{% endblock %}