{% extends 'rusardhome/base.html' %}
{% load static %}

{% block title %}Accueil - Rusard{% endblock %}
{% block meta_description %}Bienvenue sur Rusard.ch, découvrez toutes mes passions et services.{% endblock %}
{% block og_title %}Accueil - Rusard{% endblock %}
{% block og_description %}Bienvenue sur Rusard.ch, découvrez toutes mes passions et services.{% endblock %}

{% block content %}
    <div class="main bg-light">
        <div class="container py-5 bg-light">
            <div class="d-fluid text-center p-2 bg-primary bg-opacity-50 rounded ">
                    <h1 class="display-1"><strong>Découvrez Rusard.ch</strong></h1>
                <p class="fs-2">Votre Source d'Inspiration Multidimensionnelle!</p>
                <p>Bienvenue sur Rusard.ch, un lieu où la créativité rencontre la passion, et où chaque coin et recoin est une invitation à explorer une multitude d'univers fascinants.</p>
            </div>
        </div>
        <div class="row p-5 m-2">
            <div class="col-md-5">
                <div class="border border-primary p-2 mb-3">
                    <h2><strong>Q'offre Rusard.ch?</strong></h2>
                    <p>Rusard.ch est bien plus qu'un simple site – c'est un voyage à travers mes passions et centres d'intérêt, et une invitation à vous joindre à moi dans cette aventure exceptionnelle.</p>
                    <div class="container text-center h-100 pb-2 " style="width: 150px;">
                        <img class="img-fluid rounded mx-auto d-block" src="{% static 'rusardhome/media/LOGO2022.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-7 p-2 border border-primary">
                <ul>
                    <li class="p-2"><h4><strong>Impression 3D:</strong></h4> Explorez le monde captivant de la modélisation 3D et de l'impression de pièces uniques qui prennent vie dans le monde réel.</li>
                    <li class="p-2"><h4><strong>Réparation et Fabrication:</strong></h4> Suivez mes projets de réparation et de création, où chaque objet cassé peut être réparer, améliorer ou aider à créer quelque chose de nouveau.</li>
                    <li class="p-2"><h4><strong>Fichiers à Partager:</strong></h4> Parcourez les différentes ressources que je partagerai, des fichiers STL aux formats divers, ouvrant les portes à de nouvelles possibilités, ainsi que des firmwares personnalisés.</li>
                    <li class="p-2"><h4><strong>Drones:</strong></h4> Plongez dans l'air avec moi en découvrant les merveilles des drones, du FPV à la prise de vue professionnelle, avec des conseils de vol et des personnalisations audacieuses.</li>
                    <li class="p-2"><h4><strong>Programmation:</strong></h4> Découvrez mes créations et projets de programmation, avec des codes sources et des explications détaillées pour les esprits curieux.</li>
                    <!--<li class="p-2"><h4><strong>Création de Vidéos:</strong></h4> Plongez dans le processus de création de contenu vidéo, des coulisses aux vidéos captivantes que je partage avec le monde.</li>
                    <li class="p-2"><h4><strong>Jeux Vidéo:</strong></h4> Vivez des aventures virtuelles avec moi, avec des critiques, des conseils et peut-être même des sessions de streaming en direct. Découvrez des jeux comme PUBG, Minecraft, Star Citizen, et bien d'autres.</li>
                    <li class="p-2"><h4><strong>Cuisine:</strong></h4> Laissez-vous tenter par des créations culinaires délicieuses et partagez avec moi cette passion pour la gastronomie.</li>-->
                </ul>
            </div>
        </div>
        <div class="d-flex-inline bg-primary text-light rounded p-5 text-center">
            <h2><strong>Rusard.ch ?</strong></h2>
            <p>Rusard.ch est plus qu'une simple vitrine de passions. C'est un espace dynamique qui évolue au fil du temps, reflétant ma capacité à devenir touche-à-tout. Explorez, découvrez, et rejoignez-moi dans cette aventure multidimensionnelle! Créons ensemble une communauté de passionnés de découverte et d'entraide.</p>
        </div>
    </div>
{% endblock %}