{% extends 'rusardhome/base.html' %}

{% block content %}
    <div class="main">
        <h1>Découvrez Rusard.ch - Votre Source d'Inspiration Multidimensionnelle!</h1>

        <p>Bienvenue sur Rusard.ch, un lieu où la créativité rencontre la passion, et où chaque coin et recoin est une invitation à explorer une multitude d'univers fascinants.</p>

        <h2>Qu'offre Rusard.ch?</h2>

        <p>Rusard.ch est bien plus qu'un simple site – c'est un voyage à travers mes passions et centres d'intérêt, et une invitation à vous joindre à moi dans cette aventure exceptionnelle. Voici un aperçu de ce que vous trouverez :</p>

        <ul>
            <li><strong>Impression 3D:</strong> Explorez le monde captivant de la modélisation 3D et de l'impression de pièces uniques qui prennent vie dans le monde réel.</li>
            <li><strong>Réparation et Bricolage:</strong> Suivez mes projets de réparation et de bricolage, où chaque objet cassé devient une opportunité d'améliorer mes imprimantes et de créer quelque chose de nouveau.</li>
            <li><strong>Fichiers à Partager:</strong> Parcourez les différentes ressources que je partagerai, des fichiers STL aux formats divers, ouvrant les portes à de nouvelles possibilités, ainsi que des firmwares personnalisés.</li>
            <li><strong>Jeux Vidéo:</strong> Vivez des aventures virtuelles à travers mes yeux, avec des critiques, des conseils et peut-être même des sessions de streaming en direct. Découvrez des jeux comme PUBG, Minecraft, Star Citizen, et bien d'autres.</li>
            <li><strong>Drones:</strong> Plongez dans l'air avec moi en découvrant les merveilles des drones, du FPV à la prise de vue professionnelle, avec des conseils de vol et des personnalisations audacieuses.</li>
            <li><strong>Création de Vidéos:</strong> Plongez dans le processus de création de contenu vidéo, des coulisses aux vidéos captivantes que je partage avec le monde.</li>
            <li><strong>Programmation:</strong> Découvrez mes créations et projets de programmation, avec des codes sources et des explications détaillées pour les esprits curieux.</li>
            <li><strong>Cuisine:</strong> Laissez-vous tenter par des créations culinaires délicieuses et partagez avec moi cette passion pour la gastronomie.</li>
        </ul>

        <h2>Pourquoi Rusard.ch?</h2>

        <p>Rusard.ch est plus qu'une simple vitrine de passions. C'est un espace dynamique qui évolue au fil du temps, reflétant ma capacité à devenir touche-à-tout. Explorez, découvrez, et rejoignez-moi dans cette aventure multidimensionnelle! Créons ensemble une communauté de passionnés de découverte et d'entraide.</p>
    </div>
{% endblock %}