{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rusard{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Site de Rusard{% endblock %}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{% block og_title %}Rusard{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Site de Rusard{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'rusardhome/media/Logo-rusard-2024.png' %}{% endblock %}">
    
    <!-- Favicon standard -->
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'rusardhome/favicon/favicon-96x96.png' %}">
    <link rel="icon" href="{% static 'rusardhome/favicon/favicon.ico' %}" type="image/x-icon">

    <!-- Apple Touch Icon (iOS) -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'rusardhome/favicon/apple-touch-icon.png' %}">

    <!-- Web App Manifest (PWA) -->
    <link rel="manifest" href="{% static 'rusardhome/favicon/site.webmanifest' %}">

    <!-- Large Icons for Android and others -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'rusardhome/favicon/web-app-manifest-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'rusardhome/favicon/web-app-manifest-512x512.png' %}">

    <!-- SVG (for modern browsers that support it) -->
    <link rel="icon" type="image/svg+xml" href="{% static 'rusardhome/favicon/favicon.svg' %}">
    
    <link rel="stylesheet" href="{% static 'rusardhome/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJYTYLTSWX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-GJYTYLTSWX');
    </script>
    
</head>
<body class="bg-secondary-subtle">
  {% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="container">
    <header class="bg-primary rounded">
      <div class="py-4 container-fluid d-flex justify-content-between align-items-center border-bottom border-white">
        <div class="d-flex align-items-center d-none d-md-flex ">
            <div class="m-auto">
                <img class="img-fluid" src="{% static 'rusardhome/media/Logo-rusard-2024.png' %}" alt="logo" style="max-height: 60px;">
            </div>
        </div>
        <div class="d-flex align-items-center mx-auto">
            <img class="img-fluid" src="{% static 'rusardhome/media/RUSARD-txt.png' %}" alt="Texte-Rusard" style="max-height: 60px;">
        </div>

        <div class="justify-content-end d-none d-sm-flex text-light">
            <div class="justify-content-around align-items-center">
                <a href="https://www.youtube.com/@Rusard_Yt" target="_blank" class="me-2 text-light" data-bs-toggle="tooltip" title="Youtube"><i class="bi bi-youtube"></i></a>
                <a href="https://www.twitch.tv/rusard_/?sub_confirmation=1" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Twitch"><i class="bi bi-twitch"></i></a>
                <a href="https://discord.gg/9dXyjzkJ" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Discord"><i class="bi bi-discord"></i></a>
                <a href="https://www.facebook.com/RusradDIY/" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/rusard.diy/" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Instagram"><i class="bi bi-instagram"></i></a>
                <!--<a href="#" class="me-1 text-light" target="_blank" data-bs-toggle="tooltip" title="Twitter"><i class="bi bi-twitter"></i></a>-->
                {% if request.user.is_authenticated %}
                <small class="ms-3"><a href="{% url 'logout' %}" class="link-light">Déconnexion</a></small>
                {% else %}
                <small class="ms-3"><a href="{% url 'login' %}" class="link-light">Se connecter</a> /
                    <a href="{% url 'signup' %}" class="link-light">S'inscrire</a></small>
                {% endif %}
            </div>
        </div>
      </div>
  
      <div class="container-fluid">
        <nav class="navbar navbar-expand-sm">
              <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="menu">
                  <ul class="navbar-nav mx-auto">
                      <li class="nav-item">
                          <a href="{% url 'accueil' %}" class="{% if request.resolver_match.url_name == 'accueil' %}nav-link bg-primary-subtle rounded{% else %}nav-link text-light{% endif %}">Accueil</a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'modelisation' %}" class="{% if request.resolver_match.url_name == 'modelisation' %}nav-link bg-primary-subtle rounded{% else %}nav-link text-light{% endif %}">Modélisation 3D</a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}nav-link bg-primary-subtle rounded{% else %}nav-link text-light{% endif %}">Contact</a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}nav-link bg-primary-subtle rounded{% else %}nav-link text-light{% endif %}">Blog</a>
                      </li>
                        <li class="nav-item">
                            <a href="{% url 'projetapp' %}" class="{% if request.resolver_match.url_name == 'projetapp' %}nav-link bg-primary-subtle rounded{% else %}nav-link text-light{% endif %}">Projet APP</a>
                        </li>
                    </ul>
              </div>
              <div class="d-flex d-sm-none">
                <div class="d-flex">
                    <a href="https://www.youtube.com/@Rusard_Yt" target="_blank" class="me-2 text-light" data-bs-toggle="tooltip" title="Youtube"><i class="bi bi-youtube"></i></a>
                    <a href="https://www.twitch.tv/rusard_/?sub_confirmation=1" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Twitch"><i class="bi bi-twitch"></i></a>
                    <a href="https://discord.gg/9dXyjzkJ" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Discord"><i class="bi bi-discord"></i></a>
                    <a href="https://www.facebook.com/RusradDIY/" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Facebook"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/rusard.diy/" class="me-2 text-light" target="_blank" data-bs-toggle="tooltip" title="Instagram"><i class="bi bi-instagram"></i></a>
                    <!--<a href="#" class="me-1 text-light" target="_blank" data-bs-toggle="tooltip" title="Twitter"><i class="bi bi-twitter"></i></a>-->
                </div>
            </div>
        </nav>
      </div>
  </header>
    <div class="main">
    {% block content %}{% endblock%}
    </div>

    <footer class="bg-light">
      <div class="row py-2">
        <div class="col-5"></div>
        <div class="col-2">
          <img class="img-fluid" src="{% static 'rusardhome/media/Logo-rusard-2024.png' %}" alt="">
        </div>
        <div class="col-5"></div>
      </div>
      <div class="text-center">
                <a href="https://www.youtube.com/@Rusard_Yt" target="_blank" class="me-2" data-bs-toggle="tooltip" title="Youtube"><i class="bi bi-youtube"></i></a>
                <a href="https://www.twitch.tv/rusard_/?sub_confirmation=1" class="me-2" target="_blank" data-bs-toggle="tooltip" title="Twitch"><i class="bi bi-twitch"></i></a>
                <a href="https://discord.gg/9dXyjzkJ" class="me-2" target="_blank" data-bs-toggle="tooltip" title="Discord"><i class="bi bi-discord"></i></a>
                <a href="https://www.facebook.com/RusradDIY/" class="me-2" target="_blank" data-bs-toggle="tooltip" title="Facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/rusard.diy/" class="me-2" target="_blank" data-bs-toggle="tooltip" title="Instagram"><i class="bi bi-instagram"></i></a>
                <!--<a href="#" class="me-1 text-light" target="_blank" data-bs-toggle="tooltip" title="Twitter"><i class="bi bi-twitter"></i></a>-->
      </div>
      <div class="container-fluid">
        <nav class="navbar navbar-expand-sm">
              <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="menu">
                  <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a href="{% url 'accueil' %}" class="{% if request.resolver_match.url_name == 'accueil' %}nav-link bg-primary-subtle rounded{% else %}nav-link{% endif %}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'modelisation' %}" class="{% if request.resolver_match.url_name == 'modelisation' %}nav-link bg-primary-subtle rounded{% else %}nav-link{% endif %}">Modélisation 3D</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contact' %}" class="{% if request.resolver_match.url_name == 'contact' %}nav-link bg-primary-subtle rounded{% else %}nav-link{% endif %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}nav-link bg-primary-subtle rounded{% else %}nav-link{% endif %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'projetapp' %}" class="{% if request.resolver_match.url_name == 'projetapp' %}nav-link bg-primary-subtle rounded{% else %}nav-link{% endif %}">Projet APP</a>
                        </li>
                  </ul>
              </div>
        </nav>
      </div>
      <div class="text-center py-5">
        <a class="mx-1" href="#Mention légal"><em>Mention légal</em></a>
        <a class="mx-1" href="#Politique de confidentialité"><em>Politique de confidentialité</em></a>
      </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>
