{% extends 'rusardhome/base.html' %}
{% load static %}
{% block content %}
<div class="main bg-light">
    <div class="container pt-5 bg-light">
        <div class="d-flex justify-content-center m-2">
            <h1 class="display-1 bg-primary bg-opacity-50 rounded p-2"><strong>Me Contacter</strong></h1>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-6">
            <img class="img-fluid" src="{% static 'rusardhome/media/LOGO2022.png' %}" alt="">
        </div>
        <div class="col-6">
            <form class="row px-4">
                <div class="col-6 my-2">
                    <label for="firstname" class="form-label">Prénom</label>
                    <input name="firstname" type="text" class="form-control" id="firstname">
                </div>
                <div class="col-6 my-2">
                    <label for="name" class="form-label">Nom</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>
                <div class="col-12 my-2">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="email">
                </div>
                <div class="col-12 my-2">
                    <label for="message" class="form-label">Message</label>
                    <textarea name="message" class="form-control" id="message" rows="3"></textarea>
                </div>
                <div class="col-12 my-2">
                    <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                </div>
            </form>

        </div>

    </div>

</div>
{% endblock %}