{% extends 'rusardhome/base.html' %}
{% load static %}

{% block title %}Message envoyé - Rusard{% endblock %}
{% block meta_description %}Confirmation d'envoi du message de contact.{% endblock %}
{% block og_title %}Message envoyé - Rusard{% endblock %}
{% block og_description %}Confirmation d'envoi du message de contact.{% endblock %}
{% block twitter_title %}Message envoyé - Rusard{% endblock %}
{% block twitter_description %}Confirmation d'envoi du message de contact.{% endblock %}
{% block content %}
<div class="main bg-light">
    <div class="container pt-5 bg-light">
        <div class="d-flex justify-content-center m-2">
            <h1 class="display-1 bg-primary bg-opacity-50 rounded p-2"><strong>Me Contacter</strong></h1>
        </div>
    </div>
    <h1>Message envoyé</h1>
    <div class="row py-5">
        <div class="col-6">
            <img class="img-fluid" src="{% static 'rusardhome/media/LOGO2022.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}