{% extends 'rusardhome/base.html' %}
{% load static %}

{% block title %}Mentions légales - Rusard{% endblock %}
{% block meta_description %}Mentions légales du site Rusard.{% endblock %}
{% block og_title %}Mentions légales - Rusard{% endblock %}
{% block og_description %}Informations légales concernant le site Rusard.{% endblock %}

{% block content %}
<div class="container bg-light p-4">
  <h1>Mentions légales</h1>
  <h2>Éditeur du site</h2>
  <p>Frédéric Clerc<br>Impasse Garre CFF<br>1782 Belfaux – Suisse<br>Particulier, sans société<br>E-mail : <a href="mailto:contact@rusard.ch">contact@rusard.ch</a></p>
  <h2>Hébergement</h2>
  <p>Le site est hébergé par :<br>Frédéric Clerc<br>Impasse Garre CFF<br>1782 Belfaux – Suisse</p>
  <h2>Propriété intellectuelle</h2>
  <p>L’ensemble des contenus du site (textes, images, logos, vidéos, etc.) est protégé par le droit d’auteur. Toute reproduction ou représentation, totale ou partielle, sans autorisation préalable est interdite.</p>
  <h2>Responsabilité</h2>
  <p>L’éditeur s’efforce de fournir des informations exactes, mais ne peut être tenu responsable des erreurs ou omissions, ni des dommages résultant de l’accès ou de l’utilisation du site.</p>
</div>
{% endblock %}
