{% extends 'rusardhome/base.html' %}
{% block content %}
<div class="main">
    <title>Service de Modélisation 3D - Rusard_3D</title>

    <h1>Transformez Vos Idées en Réalité avec Notre Service de Modélisation 3D</h1>

    <p>Bienvenue chez Rusard_3D – Votre partenaire de confiance pour la modélisation 3D exceptionnelle et la concrétisation de vos concepts innovants!</p>

    <h2>À Propos de Nous</h2>
    <p>Chez Rusard_3D, nous sommes passionnés par la transformation des idées en réalité tangible. Spécialisés dans la modélisation de pièces en 3D, nous mettons à votre disposition notre expertise pour créer des fichiers STL, M3, et bien plus encore.</p>

    <h2>Nos Services</h2>

    <h3>Modélisation 3D</h3>
    <p>Que vous ayez une idée claire ou simplement une esquisse sur un bout de papier, notre équipe expérimentée peut transformer vos concepts en modèles 3D prêts pour l'impression.</p>

    <h3>Formats de Fichier</h3>
    <p>Nous sommes flexibles en termes de formats de fichier. Que vous ayez besoin de fichiers STL, M3, ou d'autres formats spécifiques, nous nous adaptons à vos exigences.</p>

    <h3>Impression 3D</h3>
    <p>Dans le cadre de certains projets, nous offrons également des services d'impression 3D. Nous disposons des dernières technologies pour donner vie à vos modèles avec une précision exceptionnelle.</p>

    <h2>Comment Ça Marche?</h2>

    <h3>1. Consultation Gratuite</h3>
    <p>Contactez-nous pour une consultation gratuite. Discutons de votre projet, de vos idées, et des spécifications requises.</p>

    <h3>2. Précision du Plan</h3>
    <p>Fournissez-nous un plan détaillé de la pièce que vous souhaitez modéliser. Plus les détails sont précis, plus nous pouvons répondre à vos attentes.</p>

    <h3>3. Modélisation en Direct</h3>
    <p>Si vous le souhaitez, nous pouvons effectuer la modélisation en direct, vous permettant de suivre le processus et d'apporter des ajustements en temps réel.</p>

    <h3>4. Impression 3D (En Option)</h3>
    <p>Sur demande, nous pouvons également imprimer la pièce modélisée pour vous. Profitez de notre service tout-en-un pour donner vie à vos projets.</p>

    <h2>Pourquoi Nous Choisir?</h2>
    <ul>
        <li><strong>Expertise Technique:</strong> Notre équipe possède une vaste expérience dans la modélisation 3D.</li>
        <li><strong>Flexibilité de Format:</strong> Nous nous adaptons à vos besoins en matière de formats de fichier.</li>
        <li><strong>Service Personnalisé:</strong> Chaque projet est unique, et nous nous engageons à fournir un service personnalisé.</li>
    </ul>

    <p>Ne laissez pas vos idées rester sur le papier. Contactez-nous dès aujourd'hui pour transformer vos rêves en réalité avec Rusard_3D.</p>

    <footer>
        <p>[Coordonnées de Contact]</p>
    </footer>
</div>
{% endblock %}

