{% extends 'rusardhome/base.html' %}

{% block title %}Applications - Rusard{% endblock %}
{% block meta_description %}Liste des petites applications créées par Rusard.{% endblock %}
{% block content %}

<div class="main bg-light">
    <div class="container py-5 bg-light">
        <div class="d-fluid text-center p-2 bg-primary bg-opacity-50 rounded ">
                <h1 class="display-1"><strong>Mes APP</strong></h1>
            <p class="fs-2">Voici des app que j'ai fait. elles sont ici pour me rendre service mais ne sont pas destinées au grand publique.</p>
        </div>
    <div class="container p-5 bg-light text-center">
        <a class=" p-2 border border-primary" href="{% url 'ts' %}"><strong>Recherche de Tours de service par n° de train</strong></a>

</div>
<div class="bg-primary rounded pt-5 text-center">
</div>

{% endblock %}